<div class="jumbotron text-center">
 <h1> EXPRESS WORLD</h1>
<p class="lead">DON'NT PANIC YOU ARE JUST A CLICK AWAY FROM SOUCE</p>
    <div>
    <a class="btn btn-primary"[routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
    </div>
</div>

<div class="row">
<div class="col-md-4">
    <h3>FIRST YEAR</h3>
    <p>ALL PREVIOUS YEAR QUESTION PAPER AND STUDY MATERIAL</p>
      <h2>SEM-1</h2>
      <h2>SEM-2</h2>
    </div>
    <div class="col-md-4">
        <h3>SECOND YEAR</h3>
        <p> ALL PREVIOUS YEAR QUESTION PAPER AND STUDY MATERIAL</p>
        <h2>SEM-3</h2>
        <h2>SEM-4</h2>
    </div>
    <div class="col-md-4">
        <h3>THIRD YEAR</h3>
        <p> ALL PREVIOUS YEAR QUESTION PAPER AND STUDY MATERIAL</p>
        <h2>SEM-5</h2>
        <h2>SEM-6</h2>
    </div>
</div>

<footer id="main-footer"></footer>
<p>copyright &copy; 2017 EXPRESS</p>